.DS_Store
.metadata
com.weiglewilczek.xwt.launcher/bin
com.weiglewilczek.xwt.launcher/src/xwt.launcher.version.properties
com.weiglewilczek.xwt.launcher.linux/bin
com.weiglewilczek.xwt.launcher.macos/bin
com.weiglewilczek.xwt.launcher.win32/bin
com.weiglewilczek.xwt.launcher.nl1/bin
com.weiglewilczek.xwt.launcher.build.tools/build
com.weiglewilczek.xwt.launcher.build.tools/properties/version/buildnumber.client.properties
com.weiglewilczek.xwt.launcher.build.tools/properties/version/xwt.launcher.version.properties
com.weiglewilczek.eclipse.launcher/
com.weiglewilczek.eclipse.launcherM5/
org.eclipse.e4.xwt_0.9.1.v20100905b/
com.weiglewilczek.xwt.launcher.releng.buildoutput/
