<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         name="EclipseLauncherX"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.weiglewilczek.xwt.launcher.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="com.weiglewilczek.xwt.launcher.Perspective"
            id="com.weiglewilczek.xwt.launcher.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.weiglewilczek.xwt.launcher.model.ui.WorkspaceListView"
            id="com.weiglewilczek.xwt.launcher.views.LaunchConfigurations"
            name="LaunchConfigurations"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.weiglewilczek.xwt.launcher.model.ui.EclipseInstallationListView"
            id="com.weiglewilczek.xwt.launcher.views.EclipseInstallations"
            name="EclipseInstallations"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.weiglewilczek.xwt.launcher.model.ui.JavaInstallationListView"
            id="com.weiglewilczek.xwt.launcher.views.JavaInstallations"
            name="JavaInstallations"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.weiglewilczek.xwt.launcher.model.ui.GroupsView"
            id="com.weiglewilczek.xwt.launcher.views.Groups"
            name="Groups"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.weiglewilczek.xwt.launcher.views.Groups"
               minimized="false"
               moveable="false"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="com.weiglewilczek.xwt.launcher.views.LaunchConfigurations"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.weiglewilczek.xwt.launcher.views.Groups"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="com.weiglewilczek.xwt.launcher.views.EclipseInstallations"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.weiglewilczek.xwt.launcher.views.Groups"
               showTitle="false"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="com.weiglewilczek.xwt.launcher.views.JavaInstallations"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="com.weiglewilczek.xwt.launcher.views.Groups"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Edit">
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.New"
                  icon="icons/new.gif"
                  label="New">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.Edit"
                  icon="icons/edit.gif"
                  label="Edit">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="icons/delete.gif"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <menu
               label="Launch">
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.Launch"
                  icon="icons/run.png"
                  style="push">
            </command>
         </menu>
         <menu
               label="Views">
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.OpenLaunchConfigurationListView"
                  icon="icons/launcher.png"
                  label="Launch Configurations"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.OpenEclipseInstallationListView"
                  icon="icons/eclipse.gif"
                  label="Eclipse Installations"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.OpenJavaInstallationListView"
                  icon="icons/java.png"
                  label="Java Installations"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.weiglewilczek.xwt.launcher.mainToolbar"
               label="Edit">
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.New"
                  icon="icons/new.gif">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.CreateLauncher"
                  icon="icons/create_launcher.png">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.Edit"
                  icon="icons/edit.gif">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.delete"
                  icon="icons/delete.gif"
                  style="push">
            </command>
            <separator
                  name="com.weiglewilczek.xwt.launcher.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.Launch"
                  icon="icons/run.png"
                  style="push">
            </command>
            <separator
                  name="com.weiglewilczek.xwt.launcher.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.OpenLaunchConfigurationListView"
                  icon="icons/launcher.png"
                  label="Launch Configurations"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.OpenEclipseInstallationListView"
                  icon="icons/eclipse.gif"
                  label="Eclipse Installations"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.weiglewilczek.xwt.launcher.commands.OpenJavaInstallationListView"
                  icon="icons/java.png"
                  label="Java Installations"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.weiglewilczek.xwt.launcher.commands.Edit"
            name="Edit">
      </command>
      <command
            id="com.weiglewilczek.xwt.launcher.commands.New"
            name="New">
      </command>
      <command
            id="com.weiglewilczek.xwt.launcher.commands.Launch"
            name="Launch">
      </command>
      <command
            id="com.weiglewilczek.xwt.launcher.commands.OpenLaunchConfigurationListView"
            name="OpenLaunchConfigurationListView">
      </command>
      <command
            id="com.weiglewilczek.xwt.launcher.commands.OpenEclipseInstallationListView"
            name="OpenEclipseInstallationListView">
      </command>
      <command
            id="com.weiglewilczek.xwt.launcher.commands.OpenJavaInstallationListView"
            name="OpenJavaInstallationListView">
      </command>
      <command
            id="com.weiglewilczek.xwt.launcher.commands.CreateLauncher"
            name="Create Launch Configuration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.EditLaunchConfiguration"
            commandId="com.weiglewilczek.xwt.launcher.commands.Edit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.LaunchConfiguration">
                  </instanceof>
               </iterate>
            </with></enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.LaunchConfiguration">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.EditEclipseInstallation"
            commandId="com.weiglewilczek.xwt.launcher.commands.Edit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.EclipseInstallation">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.EclipseInstallation">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.EditJavaInstallation"
            commandId="com.weiglewilczek.xwt.launcher.commands.Edit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.JavaInstallation">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.JavaInstallation">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.EditGroup"
            commandId="com.weiglewilczek.xwt.launcher.commands.Edit">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.ObservableGroup">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.ObservableGroup">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.NewEclipseInstallation"
            commandId="com.weiglewilczek.xwt.launcher.commands.New">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.EclipseInstallations">
               </equals>
            </with></enabledWhen>
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.EclipseInstallations">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.NewJavaInstallation"
            commandId="com.weiglewilczek.xwt.launcher.commands.New">
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.JavaInstallations">
               </equals>
            </with>
         </enabledWhen>
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.JavaInstallations">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.NewLaunchConfiguration"
            commandId="com.weiglewilczek.xwt.launcher.commands.New">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.LaunchConfigurations">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.LaunchConfigurations">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.NewGroup"
            commandId="com.weiglewilczek.xwt.launcher.commands.New">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.Groups">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.weiglewilczek.xwt.launcher.views.Groups">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.OpenLaunchConfigurationListView"
            commandId="com.weiglewilczek.xwt.launcher.commands.OpenLaunchConfigurationListView">
         <enabledWhen>
            <not>
               <with
                     variable="activePartId">
                  <!--equals
                        value="com.weiglewilczek.xwt.launcher.views.LaunchConfigurations"-->
                  <equals
                        value="com.weiglewilczek.xwt.launcher.views.Groups">
                  </equals>
               </with>
            </not>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.OpenEclipseInstallationListView"
            commandId="com.weiglewilczek.xwt.launcher.commands.OpenEclipseInstallationListView">
         <enabledWhen>
            <not>
               <with
                     variable="activePartId">
                  <equals
                        value="com.weiglewilczek.xwt.launcher.views.EclipseInstallations">
                  </equals>
               </with>
            </not>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.OpenJavaInstallationListView"
            commandId="com.weiglewilczek.xwt.launcher.commands.OpenJavaInstallationListView">
         <enabledWhen>
            <not>
               <with
                     variable="activePartId">
                  <equals
                        value="com.weiglewilczek.xwt.launcher.views.JavaInstallations">
                  </equals>
               </with>
            </not>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.Launch"
            commandId="com.weiglewilczek.xwt.launcher.commands.Launch">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.LaunchConfiguration">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.LaunchConfiguration">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.DeleteLaunchConfiguration"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.LaunchConfiguration">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.LaunchConfiguration">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.DeleteEclipseInstallation"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.EclipseInstallation">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.EclipseInstallation">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.DeleteJavaInstallation"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.JavaInstallation">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.JavaInstallation">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.DeleteGroup"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.ObservableGroup">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.weiglewilczek.xwt.launcher.model.ObservableGroup">
                  </instanceof>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.weiglewilczek.xwt.launcher.handlers.NewLaunchConfiguration"
            commandId="com.weiglewilczek.xwt.launcher.commands.CreateLauncher">
      </handler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.weiglewilczek.xwt.launcher.application"
            name="EclipseLauncherX">
         <property
               name="appName"
               value="EclipseLauncherX">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.weiglewilczek.xwt.launcher.commands.Launch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="com.weiglewilczek.xwt.launcher.keybindingscheme"
            sequence="COMMAND + L">
      </key>
      <scheme
            id="com.weiglewilczek.xwt.launcher.keybindingscheme"
            name="com.weiglewilczek.xwt.launcher.keybindingscheme">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.weiglewilczek.xwt.launcher.managers.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>

